[run]
source = src
omit =
    src/viewer/*
    src/__pycache__/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    raise NotImplementedError
show_missing = true

[html]
directory = htmlcov
